{% load static %} {% block title %}
<title>Chains</title>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/branches_style.css' %}" />
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
{% endblock %}

<div class="food-items-page">
  <div class="food-item-title mt-4">
    <h3>BRANCHES</h3>

    <div class="search-container">
      <input
        type="text"
        id="searchInput"
        class="search-input"
        placeholder="Search by location"
      />
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <button
      class="open-button add-fooditems-button rounded-3"
      onclick="openForm()"
    >
      <span class="btn-text">
        <i class="fa-solid fa-plus plus-icon"></i> Add Branch
      </span>
      <span class="btn-icon"><i class="fa-solid fa-plus plus-icon"></i></span>
    </button>
  </div>

  <div class="overlay" id="overlay" onclick="closeForm()"></div>
  <div class="form-popup" id="myForm">
    <form method="post"  action=''  id="storeForm" role="form"  class="form-container">
      {% csrf_token %}
      <h1 class="mb-3">Add Branch</h1>
      {% if messages %}
      <div>
        {% for message in messages %}
          {{message}}
        {% endfor %}
      </div>
      {% endif %}
      <div class="form-group">
        <div class="input-group">
          <label for="StoreLocation"><b>Location</b></label>
          <input type="text" id="location" name="location" placeholder="Enter location" required/>
        </div>
        <div class="input-group">
          <label for="storeArea">Area</label>
          <input type="text" id="storeArea" name="storeArea" placeholder="Enter area name" required />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <label for="storeManager">Manager ID </label>
          <input type="number" id="managerID"  name="managerID" placeholder="Manager name" required/>
        </div>

        <div class="input-group">
          <label for="StoreLocation"><b>Phone No.</b></label>
          <input type="tel" id="PhoneNo" name="PhoneNo" placeholder="Enter Phone No." required/>
        </div>
        
      </div>
      <p id="message"></p>
      <div class="form-group">
        <div class="input-group">
          <label for="storeManager">Status </label>
          <select id="status" name="status">
            <option value="">Status</option>
          </select>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Close
        </button>
      </div>
    </form>
  </div>

  <!-- Update Form -->
  <div class="overlay" id="updateOverlay" onclick="closeUpdateForm()"></div>
<div class="form-popup" id="updateForm">
    <form method="post" action="{% url 'adminside:update_branch' %}" class="form-container" id="formUpdate">
        {% csrf_token %}
        <h1 class="mb-3">Update Branch</h1>
        
        <input type="hidden" id="branchID" name="branchID" />

        <div class="form-group">
          <div>
            <label>Location</label>
            <input type="text" id="updateLocation" name="location" required />

            <label>Area</label>
            <input type="text" id="updateArea" name="storeArea" required />
          </div>
        </div>

        <div class="form-group">
          <div>
            <label>Manager ID</label>
            <input type="number" id="updateManagerID" name="managerID" required />

            <label>Phone No.</label>
            <input type="tel" id="updatePhoneNo" name="PhoneNo" required />
          </div>
        </div>
        <div>
          <label>Status</label>
          <select id="updateStatus" name="status">
            <option value="">Select Status</option>
            <option value="Open">Open</option>
            <option value="Close">Close</option>
        </select>
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeUpdateForm()">Close</button>
        </div>
    </form>
</div>

<div class="overlay" id="deleteOverlay" onclick="closedeleteForm()"></div>
<div class="form-popup" id="deleteForm">
  <form method="post" action="{% url 'adminside:delete_branch' %}" class="form-container" id="FormDelete"  >
    {% csrf_token %}
    <h3 align="center">
      Are you sure you want to delete?
    </h3>
    <input type="hidden" id="bID" name="bID" />
      <div class="form-buttons">
          <button type="submit" class="btn">Delete</button>
          <button type="button" class="btn cancel" onclick="closedeleteForm()">Cancel</button>
      </div>
  </form>
</div>

  <div class="table-responsive">
    <table class="table stores-detail-table">
      <thead style="border-bottom: 2px solid #333 !important">
        <tr>
          <th>ID</th>
          <th>Location</th>
          <th>Area</th>
          <th>Manager ID</th>
          <th>Phone No.</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody > 
        
        {% for branch in data.branches %}
        <tr>
            <td>{{ branch.id }}</td>
            <td>{{ branch.location }}</td>
            <td>{{ branch.area }}</td>
            <td>{{ branch.manager_id }}</td>
            <td>{{ branch.phone_no }}</td>
            <td>{{ branch.status }}</td>
            <td class="action-buttons">
              <button class="update-btn" onclick="openUpdateForm('{{ branch.id }}', '{{ branch.location }}', '{{ branch.area }}', '{{ branch.manager_id }}', '{{ branch.phone_no }}', '{{ branch.status }}')">
                  <i class="fas fa-edit"></i>
              </button>
          
               <button class="delete-btn" onclick="sureform('{{ branch.id }}')">
                
                <i class="fas fa-trash"></i></button>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No branches found.</td>
            <p>Branches count: {{ branches|length }}</p>
        </tr>
        {% endfor %}
         <!-- {% for i in branches %}
             <p>{{ i.location }} - {{ i.area }}</p>
         {% empty %}
           <p>No data found.</p>
         {% endfor %} -->
        
      </tbody>
     
    </table>
  </div>
</div>

<script src="{% static 'js/branches_scripts.js' %}"></script>
