{% load static %}
{% block title %}
<title>Inventory</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/inventory_style.css' %}">
{% endblock %}

<div class="food-items-page">
  <div class="food-item-title mt-4">
    <h3>INVENTORY</h3>

    <div class="search-container">
      <input type="text" id="searchInput" class="search-input" placeholder="Search by food-item name" onkeyup="toggleSearch()">
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <button class="open-button add-fooditems-button rounded-3" onclick="openForm()">
      <span class="btn-text">
        <i class="fa-solid fa-plus plus-icon"></i> Add Food Item
      </span>
      <span class="btn-icon"><i class="fa-solid fa-plus plus-icon"></i></span>
    </button>
  </div>

  <div class="overlay" id="overlay" onclick="closeForm()"></div>
  <div class="form-popup" id="myForm">
    <form method="post" action="{% url 'adminside:inventory' %}" id="foodItemForm" class="form-container" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="mb-3">Add Food Item</h1>
            {{data.form }}
         

 <!--        <div class="form-group">
            <div class="input-group">
                <label for="itemImage"><b>Image</b></label>
                <input type="file" id="itemImage" name='image' accept="image/*">
            </div>
            <div class="input-group">
              <label for="itemName"><b>Name</b></label>
              <input type="text" id="itemName" name="itemName" placeholder="Enter Name" required/>
              <span class="error-message" id="nameError"></span>
            </div>
        </div>
      
        <div class="form-group">
            
            <div class="input-group full-width">
                <label for="itemDescription"><b>Description</b></label>
                <textarea id="itemDescription" name="Description" placeholder="Enter Description" required></textarea>
                <span class="error-message" id="descriptionError"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
              <label for="itemCategory"><b>Select Category:</b></label>
              <select name="itemCategory" id="itemCategory">
                  <option value="">-- Select a Category --</option>
                  {% for category in data.categories %}
                      <option value="{{ category.id }}">{{ category.category_name }}</option>
                  {% endfor %}
              </select>
                <span class="error-message" id="categoryError"></span>
            </div>


            <div class="input-group">
                <label for="itemQuantity"><b>Quantity</b></label>
                <input type="number" name='quantity' id="itemQuantity" placeholder="Enter Quantity" required>
                <span class="error-message" id="quantityError"></span>
            </div>
            
        </div>

        <div class="form-group">
            <div class="input-group">
                <label for="itemCost"><b>Cost Price</b></label>
                <input type="number" name="costprice" id="itemCost" placeholder="Enter Cost Price" required>
                <span class="error-message" id="costPriceError"></span>
            </div>
            <div class="input-group">
                <label for="itemSelling"><b>Selling Price</b></label>
                <input type="number" name='sellprice' id="itemSelling" placeholder="Enter Selling Price" required>
                <span class="error-message" id="sellingPriceError"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <label for="itemMFG"><b>MFG Date</b></label>
                <input type="date" name='mfgdate' id="itemMFG" required>
                <span class="error-message" id="MFG-Error"></span>
              </div>
              <div class="input-group">
                <label for="itemExpiry"><b>Expiry Date</b></label>
                <input type="date" name='expdate' id="itemExpiry" required>
                <span class="error-message" id="expiryError"></span>
            </div>
        </div> -->

        <div class="form-buttons">
          <button type="submit" class="btn">Add</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>
    </form>
  </div>

  <div class="overlay" id="updateOverlay" onclick="closeUpdateForm()"></div>
  <div class="form-popup" id="updateForm">
    <form method="post" action="{% url 'adminside:update_inventory' %}"  id="updateForm" class="form-container" enctype="multipart/form-data" >
      {% csrf_token %}
      <h1>Update Inventory</h1>
        <input type="hidden" id="updateitemID" name="id">
          
        
        
        <div id="updateFormFields">
          {{ data.form }}  <!-- Initially empty; JavaScript will replace it -->
      </div>
          
            
          
        <div class="form-buttons">
          <button type="submit" class="btn">Update</button>
          <button type="button" class="btn cancel" onclick="closeUpdateForm()">Close</button>
      </div>
    </form>
  </div>




  <div class="table-responsive">
    <table class="table fooditem-detail-table">
      <thead style=" border-bottom: 2px solid #333 !important">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Cost Price</th>
          <th>Selling Price</th>
          <!-- <th>MFG Date</th>
          <th>Expiry Date</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          {% for food_items in data.inventory %}
          <tr>
              <td>{{food_items.id}}</td>
              <td>{{food_items.food_item_name}}</td>
              <td>{{food_items.category}}</td>
              <td>{{food_items.quantity}}</td>
              <td>{{food_items.cost_price}}</td>
              <td>{{food_items.sell_price}}</td>
              <!-- <td>{{food_items.mfg_date}}</td>
              <td>{{food_items.exp_date}}</td> -->
              <td class="action-buttons">
                <button class="update-btn" onclick="openUpdateForm('{{food_items.id}}')">     <!--('{{ food_items.img.url }}','{{food_items.id}}','{{food_items.food_item_name}}','{{food_items.category}}','{{food_items.quantity}}','{{food_items.description}}','{{food_items.cost_price}}','{{food_items.sell_pricee}}','{{food_items.mfg_date|date}}','{{food_items.exp_date}}' -->
                     <i class="fas fa-edit"></i>     
                </button>
            
                 <button class="delete-btn" onclick="sureform('{{ category.id }}')">
                  
                  <i class="fas fa-trash"></i></button>
  
              </td>
          </tr>
          {%  endfor  %}

      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/inventory_scripts.js' %}"></script>
<script>
function toggleSearch() {
  const input = document.getElementById("searchInput").value.toLowerCase();
  const table = document.querySelector(".fooditem-detail-table tbody");
  const rows = table.getElementsByTagName("tr");

  for (let i = 0; i < rows.length; i++) {
    const nameCell = rows[i].getElementsByTagName("td")[1]; // Name
    const categoryCell = rows[i].getElementsByTagName("td")[2]; // Category

    const name = nameCell ? nameCell.textContent.toLowerCase() : "";
    const category = categoryCell ? categoryCell.textContent.toLowerCase() : "";

    if (name.includes(input) || category.includes(input)) {
      rows[i].style.display = "";
    } else {
      rows[i].style.display = "none";
    }
  }
}

</script>