{% load static %} {% block title %}
<title>Staff</title>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/staff_style.css' %}" />
{% endblock %}

<div class="staff-page">
  <div class="staff-title mt-4">
    <h3>STAFF</h3>

    <div class="search-container">
      <input
        type="text"
        id="searchInput"
        class="search-input"
        placeholder="Search by name"
      />
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <button class="open-button add-staff-button rounded-3" onclick="openForm()">
      <span class="btn-text">
        <i class="fa-solid fa-plus plus-icon"></i> Add Staff
      </span>
      <span class="btn-icon"><i class="fa-solid fa-plus plus-icon"></i></span>
    </button>
  </div>

  <div class="overlay" id="overlay"></div>
  <div class="form-popup" id="myForm">
    <form method='post' action="{% url 'adminside:staff' %}" id="staffForm" class="form-container">
      {% csrf_token %}
      <h1 class="mb-3">Add Staff</h1>
      <input type="hidden" id="formHasErrors" value="{% if data.form.errors %}true{% else %}false{% endif %}">
       
      {% if messages %}
           {% for message in messages %}
              {{message}}
           {% endfor %}
      {% endif %}

        <!-- {{ data.form.as_p }} -->


        <div class="mb-3">
           <label for="{{data.form.first_name.id_for_label}}">First Name:</label>
           <input type="text" name="{{data.form.first_name.name}}" class="form-control" value="{{data.form.first_name.value|default_if_none:''}}">
           <span class="text-danger">{{data.form.first_name.errors}}</span>
        </div>

        <div class="mb-3">
          <label for="{{data.form.last_name.id_for_label}}" >Last Name:</label>
          <input type="text" name="{{data.form.last_name.name}}" class="form-control" value="{{data.form.last_name.value|default_if_none:''}}">
          <span class="text-danger">{{data.form.last_name.errors}}</span>
       </div>

       <div class="mb-3">
        <label for="{{data.form.email.id_for_label}}">Email Address:</label>
        <input type="text" name="{{data.form.email.name}}" class="form-control" value="{{data.form.email.value|default_if_none:''}}">
        <span class="text-danger">{{data.form.email.errors}}</span>
      </div>

       <div class="mb-3">
        <label for="{{data.form.role.id_for_label}}">Role:</label>
        <input type="text" name="{{data.form.role.name}}" class="form-control" value="{{data.form.role.value|default_if_none:''}}">
        <span class="text-danger">{{data.form.role.errors}}</span>
      </div>

      <div class="mb-3">
        <label for="{{data.form.phone_no.id_for_label}}" >Phone no.:</label>
        <input type="text" name="{{data.form.phone_no.name}}" class="form-control" value="{{data.form.phone_no.value|default_if_none:''}}">
        <span class="text-danger">{{data.form.phone_no.errors}}</span>
      </div>


      <div class="mb-3">
        <label for="{{data.form.branch.id_for_label}}">Branch:</label>
        {{ data.form.branch }}
        <span class="text-danger">{{data.form.branch.errors}}</span>
      </div>

      <div class="mb-3">
        <label for="{{data.form.username.id_for_label}}" >Username:</label>
        <input type="text" name="{{data.form.username.name}}" class="form-control" value="{{data.form.username.value|default_if_none:''}}">
        <span class="text-danger">{{data.form.username.errors}}</span>
      </div>

      <div class="mb-3">
        <label for="{{data.form.password1.id_for_label}}" >Password:</label>
        <input type="password" name="{{data.form.password1.name}}" class="form-control" value="{{data.form.password1.value|default_if_none:''}}">
        <span class="text-danger">{{data.form.password1.errors}}</span>
      </div>

      <div class="mb-3">
        <label for="{{data.form.password2.id_for_label}}">Confirm Password:</label>
        <input type="password" name="{{data.form.password2.name}}" class="form-control" value="{{data.form.password2.value|default_if_none:''}}">
        <span class="text-danger">{{data.form.password2.errors}}</span>
      </div>


      <!-- Old Form -->

      <!-- <div class="form-group">
        <div class="input-group">
          <label for="fullName"><b>FullName</b></label>
          <input
            type="text"
            id="fullName"
            placeholder="Enter Full Name"
            required
          />
        </div>

        <div class="input-group">
          <label for="userName"><b>UserName</b></label>
          <input
            type="text"
            id="userName"
            placeholder="Enter User Name"
            required
          />
        </div>
      </div>

      <div class="input-group">
        <label for="staffImage"><b>Image</b></label>
        <input type="file" id="staffImage" accept="image/*" />
      </div>

      <div class="input-group">
        <label for="username"><b>E-mail</b></label>
        <input type="username" id="username" placeholder="Enter username" required />
      </div>

      <div class="input-group">
        <label for="password"><b>Password</b></label>
        <input
          type="password"
          id="password"
          placeholder="Generate password"
          required
        />
      </div>

      <div class="form-group">
        <div class="input-group">
          <label for="staffRole"><b>StaffRole</b></label>
          <select id="staffRole">
            <option value="" disabled selected hidden>Choose staff username</option>
            <option value="Manager">Manager</option>
            <option value="Waiter">Waiter</option>
            <option value="Chef">Chef</option>
          </select>
        </div>
        <div class="input-group">
          <label for="Stores"><b>Store</b></label>
          <select id="Stores">
            <option value="" disabled selected hidden>Choose Store</option>
            <option value="Store1">Store1</option>
            <option value="Store2">Store2</option>
            <option value="Store3">Store3</option>
          </select>
        </div>
      </div> -->
     
     

      <div class="form-buttons">
        <button type="submit" class="btn">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Close
        </button>
      </div>
      <span
        id="defaultImagePath"
        data-path="{% static 'images/default-profile.jpg'%}"
        hidden
      ></span>
    </form>
  </div>

<!-- Delete Form -->
<div class="overlay" id="deleteOverlay"></div>
  <div class="form-popup" id="deleteForm">
<form method='post' action="{% url 'adminside:delete_staff' %}" id="deleteForm" class="form-container">
  {% csrf_token %}
  <h1 class="mb-3" id="formTitle">
    Are you sure you want to delete?
  </h1>

  <input type="hidden" name="staff_id" id="staffID">  <!-- Hidden field for staff ID -->
  
  
  <div class="form-buttons">
      <button type="submit" class="btn">Delete</button>
      <button type="button" class="btn cancel" onclick="closedeleteForm()">Cancel</button>
  </div>
</form>
</div>

  <div class="table-responsive">
    <table class="table staff-detail-table">
      <thead>
        <tr>
          <th>Staff ID</th>
          <!-- <th>Image</th> -->
          <th>First Name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>StaffRole</th>
          <th>Branch</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="staffBody">
        {% for staff in data.staffs %}
         <tr>
             <td>{{staff.id}}</td>
             <!-- <td>{{staff.image}}</td> -->
             <td>{{staff.first_name}}</td>
             <td>{{staff.last_name}}</td>
             <td>{{staff.email}}</td>
             <td>{{staff.role}}</td>
             <td>{{staff.branch}}</td>
             <td class="action-buttons">
          
               <button class="delete-btn" onclick="sureform('{{ staff.id }}')">
                
                <i class="fas fa-trash"></i></button>

            </td>
         </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/staff_scripts.js' %}"></script>
